

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!-- Конфигурация сессии -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- Регистрация слушателя для IoC -->
  <listener>
    <listener-class>itstep.learning.ioc.IocContextListener</listener-class>
  </listener>

  <!-- Регистрация слушателя для подключения к БД -->
  <listener>
    <listener-class>itstep.learning.ioc.DbConfigListener</listener-class>
  </listener>

  <!-- Регистрация фильтра Guice -->
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <!-- Маппинг фильтра Guice для обработки всех запросов -->
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>